body{
    background-image: url(picture/Website-Design-Background.png);
    font-family: sans-serif,Verdana, Geneva, Tahoma;
}
.form{
    padding: 30px;
    border: 1px solid #1e1d1d4d;
background-color: #b4b1b124; 
 width: 400px;  
 text-align: center;
margin:auto;
border-radius: 10px;
box-shadow:0 0 10px #000 ;
font-style: italic;
font-weight: bold;


}
h1{

    text-align: center;
}
input[type="text"],input[type=password],input[type="email"],input[type="number"]
{

margin: 5px 0;
border: 2px solid #757171;
outline: none;
border-radius: 5px;
font-style: italic;
padding: 3px;
box-sizing: border-box;
box-shadow: 0 0 10px;
font-size: 14px;
border-style:double;
background-color: #e7dede;

}
input[type="submit"]{
font-family: 'comic sans ms',cursive;
width: 19%;
margin: 14px 0;
cursor: pointer;
font-style: italic;



}
.sabt{
    transition: color .5s,padding .5s,background-color .5s,border-radius .5s;
    border-radius: 8px;

}
.sabt:hover{
color: wheat;
background-color: black;
border-radius: 10px;
padding: 10px;
font-size: medium;
}
.register{
    color:#1d1d1d;
}
.site:hover{

    color: #0de93d;
}
.tn:hover{
    color: #0de93d;
}
input[type="number"]{

    margin-right: 30px;
}
input[type="passwordl"]{
    margin: 5px 0;
border: 2px solid #757171;
outline: none;
border-radius: 5px;
font-style: italic;
padding: 3px;
box-sizing: border-box;
box-shadow: 0 0 10px;
font-size: 14px;
border-style:double;
background-color: #e7dede;
margin-right:30px;

}